<!-- The Modal -->
<div id="myModal" {{ stimulus_controller('modals')}} class="modal" data-video-uri="{{ absolute_url(path('video_details_movie', {movieId: '__id__'})) }}">

    <!-- Modal content -->
    <div class="modal-content">
        <span {{ stimulus_action('modals', 'closeModal', 'click')}} class="close">&times;</span>
        <div class="banner-box">
            <iframe class="banner-box-item" {{ stimulus_target('modals', 'iframeUrl')}} src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="row">
            <h4 class="col" {{ stimulus_target('modals', 'title')}} ></h4>
            <div class="col" {{ stimulus_target('modals', 'title')}}></div>
            <div class="col" {{ stimulus_target('modals', 'rate')}}></div>
            <div class="col" {{ stimulus_target('modals', 'userCount')}}></div>
        </div>
    </div>

</div>
